.*_history
.*sh_logout
.cache
.composer
.config
.docker
.fzf.bash
.fzf
.lesshst
.local
.ssh
.subversion
.viminfo
.wget-hsts
bin

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.aps
*.bak
*.cache
*.dll
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*_i.c
*_p.c

wd
wk

*bak
*bk
*wk
*work
*~
~*
.git
.svn
log
logs
tags
vendor
packages
__pycache__
node_modules
.tmp
